@charset "utf-8";
/* CSS Document */
/* Body */
body {
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	height: 100%;
	width: 100%;
}
header {
	width: 100%;
	height: 7%;
	margin: auto;
	position: fixed;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 100;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    z-index: 1000;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.sidenav {
    height: 30px;
    width: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s ease-in-out;
    margin-right: 130px;
    padding-top: 17px;
    text-align: right;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: inline-block;
    transition: 0.3s;
    z-index: 1;
}
.trans-ease {
	-webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.trans-ease-two {
	-webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.nav-bar {
	z-index: 1;
    right: 10px;
	text-align: right;
    width: 70px;
	height: 64px;
  	overflow: hidden;
	position: fixed;
	font-weight: bold;
	font-size: 18px;
}

.nav-bar:hover  {

    -webkit-transition: 0.4s ease, width 0.3s ease;
    transition: 0.4s ease, width 0.3s ease;
}
#nav-button {
    display: none;
}

.menu-button {
    z-index: 101;
    vertical-align: baseline;
    position: absolute;
    height: 48px;
    width: 48px;
    right: 25px;
    top: 12px;
}
.menu-button:hover {
    cursor: pointer;
}
.bar {
  position: absolute;
  height: 3px;
  width: 66%;
  background-color: #FFFFFF;
  left: 10%;
  -webkit-transition: 0.4s ease, width 0.6s ease;
  transition: 0.4s ease, width 0.6s ease;
}

.bar:nth-child(1) {
  top: 24%;
}

.bar:nth-child(2) {
  top: 47%;
}

.bar:nth-child(3) {
  top: 47%;
}

.bar:nth-child(4) {
  top: 71%;
}

#nav-button:checked+ .menu-button .bar:nth-child(1) {
  width: 0px;
}

#nav-button:checked+ .menu-button .bar:nth-child(2) {
   -webkit-transform: translateX(-50%) rotate(45deg);
    transform: rotate(45deg);
}

#nav-button:checked+ .menu-button .bar:nth-child(3) {
   -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-button:checked+ .menu-button .bar:nth-child(4) {
  width: 0px;
}

#nav-button:checked ~ .nav-content {
  -webkit-transform: translateX(-512px);
}

#nav-button:checked ~ .nav-content * {
  color: #fff;
}


.parallaxback {
	background: transparent;
	background-position: center;
	height: 55em;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    max-width:100%;
}
.pig {
	content: url(../images/pig_noback.png);
	width: 4%;
	float: left;
	margin-top: 0em;
	margin-left: 3em;
    z-index: 100;
}
.logo {
	content: url(../images/logo.png);
	width: 70%;
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding-top: 15.625em;
	z-index: 1;

}
.arrow {
	margin-top: 0px;
	animation: bounce 1s infinite;
	position:absolute;
    padding-top: 50em;


}
.about {
	background-image: url(../images/contemporary.png);
    width: 100%;
	height: 51em;
	font-family: 'Lora', serif;
	padding-top: 5.5em;
}
.branchheading {
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
    padding-bottom: 10px;
}
.menu {
	background: transparent;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 52em;
	font-family: 'Lora', serif;
	padding-top: 5.5em;
	position: relative;
	text-align: center;
}
.menuheading {
	display: block;
	text-align: center;
	font-size: 3.125em;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 0em;
}
.textblock {
	font-family: 'Raleway', sans-serif;
	width: 60%;
	text-align: center;
	font-size: 1.375em;
	line-height: 2em;
	float: center;
	padding-left: 1.25em;
	padding-right: 1.25em;
	color: #FFFFFF;


}
.beef {
	width: 20%;
	display: inline-block;
	position: relative;
	text-align: center;
}
.beefhead {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2.1875em;
	color: #FFFFFF;
}
.pork {
	width: 20%;
	display: inline-block;
	margin-right: 1.875em;
	margin-left: 1.875em;
	position: relative;
	text-align: center;
}
.porkhead {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2.1875em;
	color: #FFFFFF;
}
.chicken {
	width: 20%;
	display: inline-block;
	position: relative;
	text-align: center;
}
.chickenhead {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2.1875em;
	color: #FFFFFF;
}
.location {
    width: 100%;
    height: 52em;
    background-image: url(../images/topography.png);
    padding-top: 5.5em;
}
.locationheading {
    display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
    padding-bottom: 1em;
}
.map {
    width: 70%;
    height: 25em;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0.625em 1.25em #888888;
 }

.address {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    padding-top: 2em;
}

.addresstext {
    margin-bottom: 0.6em;
}
.addrlink {
    margin-top: 1.5em;
    height: 2.7em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #393737;
    border: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    color: #FFFFFF;
}
button:hover {
    cursor: pointer;
}

.contact {
	height: 38em;
}

/* Animations */
@keyframes bounce {
	0%{top: 0px;}
	50%{top: 10px;}
	100%{top: 0px;}
}

.footer {
    width: 100%;
    height: 40em;
    background-image: url(../images/concrete-texture.png);
}

.sitemap {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    margin-left: 200px;
    margin-top: 70px;
    float: left;
    text-align: left;
}

.feed {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 25px;
    display: inline-block;
    margin-top: 70px;
    margin-right: 55px;
    position: relative;
    text-align: center;
    float: left;
}

.news {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    margin-left: 270px;
    margin-right: 368px;
    margin-top: 70px;
    position: relative;
    text-align: center;
    float: left;
}



.sitemapcontent {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
}

.navback {
    background-image: url(../images/concrete-texture.png);
    height: 70px;
    width: 0;
    transition: 0.5s ease-in-out;
    position: fixed;
    z-index: -2;
    right: 0;
}

.contactheading {
    display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
    padding-bottom: 10px;
    color: #FFFFFF;
}

.fish {
    width: 20%;
	display: inline-block;
	margin-left: 1.875em;
	position: relative;
	text-align: center;
}

.contactnum {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 200px;
    margin-top: 70px;
    float: left;
    text-align: left;
    color: #FFFFFF;
}

.contactform {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    display: inline-block;
    margin-top: 70px;
    margin-right: 55px;
    position: relative;
    text-align: center;
    float: left;
}

.contactinfo {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-top: 40px;
    float: left;
    text-align: center;
    display: inline-block;
    left: 15%;
}

.column1 {
    color: #FFFFFF;
    float: left;
    text-align: left;
    font-size: 18px;
    width: 375;
    margin-left: 10px;
}

.inputfirstname {
    height: 25px;
    width: 365px;
    margin-top: 7px;
}
.contactinput {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    display: inline-block;
    margin-top: 40px;
    position: relative;
    text-align: center;
    float: left;
    width: 750px;
    left: 25%;
}

.column2 {
    color: #FFFFFF;
    float: left;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
    width: 375;
}

.inputlastname {
    height: 25px;
    width: 365px;
    margin-top: 7px;
}

.inputemail {
    height: 25px;
    width: 365px;
    margin-top: 7px;
}

.message {
    color: #FFFFFF;
    float: left;
    text-align: left;
    font-size: 18px;
    margin-top: 15px;
    width: 750px;
    margin-left: 10px;
}

.messagebox {
    margin-top: 7px;
    width: 730px;
}

.input {
    height: 25px;
    width: 360px;
    margin-top: 7px;
    margin-right: 0px;
    padding-right: 0px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-top: 15px;
    width: 355px;
    text-align: right;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #393737;
    color: #FFFFFF;
}

.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 355px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.branchselect {
    display: inline-block;
    color: #FFFFFF;
    float: left;
    text-align: left;
    font-size: 16px;
    margin-top: 7px;
    font-style: normal;
}

.downarrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
i {
   display: inline-block;
    margin-left: 45px;
    font-style: normal;
}

.send {
    background-color: #393737;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-top: 15px;
    margin-left: 80px;
    width: 200px;
    text-align: center;
}

.locations {
    background-image: url(../images/contemporary.png);
    width: 100%;
	height: 375em;
	font-family: 'Lora', serif;
	padding-top: 5.5em;
}

.subheading {
    display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 2.125em;
    padding-top: 50px;
    padding-bottom: 20px;
}

.branchcontact {
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
    display: block;
	text-align: center;
	font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 20px;
}

.menulink {
    margin-top: 1.5em;
    height: 2.7em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: transparent;
    border-style: solid;
    border-width: medium;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    color: #FFFFFF;
}

.story {
    padding-right: 2vw;
    font-size: 25px;
    text-align: justify;
    width: 40vw;
    display: inline-block;
    position: relative;
    color: #393737;
}

.rock {
    display: inline-block;
    position: relative;
}

.aboutheading {
    display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
    padding-bottom: 130px;
}

.storypagehead {
    display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
    padding-bottom: 20px;
}

.storypage {
    background-image: url(../images/contemporary.png);
    width: 100%;
    height: 60em;
    font-family: 'Lora', serif;
    padding-top: 4.5em;
}

.mission {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 130px;
    font-size: 1.1vw;
    text-align: justify;
    width: 40vw;
    display: inline-block;
    position: relative;
    color: #393737;
    float: left;
}

.vision {
    padding-left: 20px;
    padding-right: 50px;
    margin-right: 130px;
    font-size: 1.1vw;
    text-align: justify;
    width: 40vw;
    display: inline-block;
    position: relative;
    color: #393737;
    float: right;
}
