@charset "utf-8";
/* CSS Document */
/* Body */
body {
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	height: 100%;
	width: 100%;
}
header {
	width: 100%;
	height: 7%;
	margin: auto;
	position: fixed;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 100;
}
.nav {
	height: 5em;
	-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
header nav ul {
	list-style: none;
	float: right;
	margin-right: 2.5em;
}
nav:hover {
	background-color: #000000;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 1em;
	text-align: left;
	margin-right: 1.5625em;
	letter-spacing: 0.125em;
	font-weight: bold;
	transition: all 0.3s linear;
	margin-top: 1em;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #E7600E;
}

.parallaxback {
	background: transparent;
	background-position: center;
	height: 56.25em;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.pig {
	content: url(../images/pig.png);
	width: 4%;
	float: left;
	margin-top: 0.3125em;
	margin-left: 3em;
}
.logo {
	content: url(../images/logo.png);
	width: 70%;
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding-top: 15.625em;
	z-index: 1;

}
.arrow {
	margin-top: 0px;
	animation: bounce 1s infinite;
	position:absolute;
    padding-top: 50em;


}
.about {
	background-image: url(../images/contemporary.png);
    width: 100%;
	height: 51em;
	font-family: 'Lora', serif;
	padding-top: 6.5em;
}
.aboutheading {
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
}
.menu {
	background: transparent;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	height: 52em;
	font-family: 'Lora', serif;
	padding-top: 6.5em;
	position: relative;
	text-align: center;
}
.menuheading {
	display: block;
	text-align: center;
	font-size: 3.125em;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 0em;
}
.textblock {
	font-family: 'Raleway', sans-serif;
	width: 60%;
	text-align: center;
	font-size: 1.375em;
	line-height: 2em;
	float: center;
	padding-left: 1.25em;
	padding-right: 1.25em;
	color: #FFFFFF;
    padding-top: 1.8em;
	padding-bottom: 2.5em;
}
.beef {
	width: 20%;
	display: inline-block;
	position: relative;
	text-align: center;
}
.beefhead {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2.1875em;
	color: #FFFFFF;
}
.pork {
	width: 20%;
	display: inline-block;
	margin-right: 1.875em;
	margin-left: 1.875em;
	position: relative;
	text-align: center;
}
.porkhead {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2.1875em;
	color: #FFFFFF;
}
.chicken {
	width: 20%;
	display: inline-block;
	position: relative;
	text-align: center;
}
.chickenhead {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 2.1875em;
	color: #FFFFFF;
}
.location {
    width: 100%;
    height: 52em;
    background-image: url(../images/topography.png);
    padding-top: 6.5em;
}
.locationheading {
    display: block;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 3.125em;
    padding-bottom: 1em;
}
#map {
    width: 70%;
    height: 25em;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0.625em 1.25em #888888;
 }

.address {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    padding-top: 2em;
}

.addresstext {
    margin-bottom: 0.6em;
}
.addrlink {
    margin-top: 1.5em;
    height: 2.7em;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #000000;
    border: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    color: #FFFFFF;
}
button:hover {
    cursor: pointer;
}

.contact {
	height: 70vh;
}

/* Animations */
@keyframes bounce {
	0%{top: 0px;}
	50%{top: 10px;}
	100%{top: 0px;}
}
@media (max-width: 1560px){
}

@media (min-width: 480px){
}

.footer {
    width: 100%;
    height: 40em;
    background-image: url(../images/concrete-texture.png);
}

.sitemap {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    margin-left: 200px;
    margin-top: 70px;
    float: left;
    text-align: left;
}

.feed {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 25px;
    display: inline-block;
    margin-top: 70px;
    margin-right: 47px;
    position: relative;
    text-align: center;
    float: left;
}

.news {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    margin-left: 270px;
    margin-right: 368px;
    margin-top: 70px;
    position: relative;
    text-align: center;
    float: left;
}



.sitemapcontent {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
}
